<!DOCTYPE>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="css/game.css"/>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Tetris Attack</h1>
                <p>by DeChadou & Juama</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="row player">
                    <div class="col-3">
                        <h2 class="vertical" id="player1">Player 1</h2>
                        <div class="score text-right">
                            <div class="line"></div>
                            <div id="scoreText-0">0</div>
                            puntos
                            <div class="line"></div>
                            <small id="highScore-0"></small>
                            <small id="wins_lost-0"></small>
                            <div class="line"></div>
                            <small id="level-0"></small>
                        </div>
                    </div>
                    <div class="col-9">
                        <div id="game-0" class="game">
                            <div id="overlayScreen-0" class="overlayScreen my-auto">
                                <h2 class="text-white face"></h2>
                                <button class="rematch" id="rematch-0">Rematch?</button>
                            </div>
                            <canvas id="tetris-canvas-0"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row player">
                    <div class="col-9">
                        <div id="game-1" class="game">
                            <div id="overlayScreen-1" class="overlayScreen my-auto">
                                <h2 class="text-white face"></h2>
                            </div>
                            <canvas id="tetris-canvas-1" height="640" width="384"></canvas>
                        </div>
                    </div>
                    <div class="col-3">
                        <h2 class="vertical" id="player2">Waiting...</h2>
                        <div class="score text-right">
                            <div class="line"></div>
                            <div id="scoreText-1">0</div>
                            puntos
                            <div class="line"></div>
                            <small id="highScore-1"></small>
                            <small id="wins_lost-1"></small>
                            <div class="line"></div>
                            <small id="level-1"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="libs/mainloop.min.js"></script>
<script type="text/javascript" src="libs/keydrown.min.js"></script>
<script type="text/javascript" src="libs/hammer.min.js"></script>
<script type="text/javascript" src="game/global_constants.js"></script>
<script type="text/javascript" src="game/server.js"></script>
<script type="text/javascript" src="game/emitters.js"></script>
<script type="text/javascript" src="game/draw.js"></script>
<script type="text/javascript" src="game/block.js"></script>
<script type="text/javascript" src="game/game.js"></script>
<script type="text/javascript" src="game/cursor.js"></script>
<script type="text/javascript" src="game/tetris-attack.js"></script>
</html>
