<!DOCTYPE>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css"/>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Tetris Attack</h1>
            <small>by Rodrigo & Juama</small>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>Your room: <span class="code"></p>
            <a class="btn btn-primary" href="/abc">Jugar!</a>
        </div>
    </div>
</div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="libs/random.generator.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        const room = generateName();
        const code = document.querySelector('.code');
        code.innerHTML = room;
        const href = document.querySelector('a');
        href.setAttribute('href', '/' + room);
    });
</script>
</html>
